a {
  text-decoration: none;
}

main {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  display: block;
  font-size: 80px;
  color: #000000;
  padding-top: 63px;
}

.logo-blue-part {
  color:#4bcaff;
  font-size: 80px;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
}

.navbar-top a {
  color: #fff ;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.navbar-top div {
  column-gap: 1px;
  background-color: #35444F;
  margin-top: 65px;
  margin-bottom: 73px;
  padding: 26px 48px 19px 48px;
  margin: 38px 0 48px;
}

.navbar-top div:hover {
 background-color: #222F3A;
}

.container-wrapper {
  display:flex ;
  gap: 52px;
}

.navbar-aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 344px;
  height: 399px;
  border: #000000 solid 1px;
}

.navbar-aside a {
  color: #485863;
  font-family: Roboto;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  padding-left: 44px;
}

.navbar-aside li:hover {
  color: #35444F;
  background-color: #DBDBDB;
  padding: 27px 78px 27px 38px;
}

.image-block {
  width: 885px;
  height: 529px;
  border: #000000 solid 1px;
  margin-bottom: 37px;
}

.image {
  padding: 75px 268px 73px 297px;
}

.second-paragraph {
  margin: 34px 0 54px;
}

.navbar-bottom {
  width: 1280px;
  height: 69px;
  margin-bottom: 30px;
  background-color: #63696E7A;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-bottom a {
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}

.copyright {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding-left: 135px;
} 

.navbar-bottom a:hover {
  color:#4188a8 ;
  text-decoration-line: underline ;
}

